PORT=3005
NODE_ENV=development
DATABASE_URL=postgresql://user:pass@localhost:5432/clube?schema=subscriptions
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
ASAAS_API_KEY=
ASAAS_ENV=sandbox
ASAAS_WEBHOOK_TOKEN=
