PORT=3010
NODE_ENV=development
DATABASE_URL=postgresql://user:pass@localhost:5432/clube?schema=community
REDIS_URL=redis://localhost:6379
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
INTERNAL_SERVICE_TOKEN=
