PORT=3004
NODE_ENV=development
DATABASE_URL=postgresql://user:pass@localhost:5432/clube?schema=tenants
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
SUBSCRIPTIONS_SERVICE_URL=http://localhost:3005
STORE_SERVICE_URL=http://localhost:3006
CASHBACK_SERVICE_URL=http://localhost:3007
RAFFLES_SERVICE_URL=http://localhost:3008
